<div class="col-xs-10 col-xs-offset-1">
	<img class="center row top-buffer" href="<%= root_path %>" src= "<%= image_path("shareproz_words.svg") %>" alt="Logo">
</div>
<div class="row top-buffer-2">
	<div class="col-xs-4 col-xs-offset-2 downloadDiv">
		<img class="download" href="#" # src= "<%= image_path("app_store.png") %>" alt="Logo"> 
	</div>
	<div class ="col-xs-4 downloadDiv">
		<img class="download" href="#" src= "<%= image_path("google_play.png") %>" alt="Logo"> 
	</div>
</div>

