<div id='main-footer' class="navbar-fixed-bottom" >

	<footer class="footer">
      <div class="container">
        <p class="pull-left">Copyright <b><%= app_name %></b> © 2016</p>
        <p class="pull-right"> 
        	v0.0.<%= render 'layouts/revision' %>
        </p>
	        
      </div>
    </footer>

</div>