<div class="layout layout-default"> 

	<%= render 'layouts/default/header' %>

	<%= render 'layouts/default/alerts' %>

	<div id='main-content' class="container"> 
		<%= yield %>
	</div>

	<%= render 'layouts/default/footer' %>
</div>