.full-height {
	height: 100%;
}

.devise-form {

    height: 100%;

	
	.container-table {
	    height: 100%;
	    display: table;
	}

	.vertical-center-row {
	    display: table-cell;
	    vertical-align: middle;
	}
}
