<html>
	<head>

		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width" />
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<%= stylesheet_link_tag 'layouts/default/email' %>

	</head>
	<body class="cg-email">

		<table class="body-wrap">
		    <tr>
		        <td></td>

		        <td class="container" width="600">

		            <div class="content">
		                <table class="main" style="width:100%" cellpadding="0" cellspacing="0">
		                    <tr>
		                        <td class="content-wrap">
		                        	<table  style="width:100%" cellpadding="0" cellspacing="0">
																  <tr>
																      <td class="logo" style="width: 100%; color:#fff; background-color:#fff;">
																					<%= image_tag image_url("shareproz_words.svg", host: APP_CONFIG['base_url']),:style => "width:80%;margin-left:auto;margin-right:auto;" %>
																      </td>
																  </tr>

									  									<%= yield %>

																</table>

		                        </td>
		                    </tr>
		                </table>

		                <div class="footer">
		                    <table width="100%">
		                        <tr>
		                            <td class="aligncenter content-block">

		                            	Copyright <b>ShareProz</b> © 2016
		                            </td>
		                        </tr>
		                    </table>
		                </div>
		            </div>

		        </td>

		        <td></td>
		    </tr>
		</table>

	</body>
</html>
